* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}

/* PRODUCT INFORMATION */
.product {
  border: 4px solid #000000;
  width: 850px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  margin-bottom: 15px;
}

.shipping-details {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  position: absolute;
  left: 445px;
  top: 85px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 10px;
  width: 555px;
}

/* PRODUCT LINKS */
.more-info:link,
.more-info:visited {
  color: #000000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

.product-details {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: bold;
}

.product-attributes {
  list-style-type: square;
  margin-left: 20px;
}

.product-attributes li {
  margin-bottom: 10px;
}

/* PRODUCT BUTTON */

.product-button {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid #000000;
}

.product-button:hover {
  background-color: white;
  color: black;
}

/* SQUARES  */
.sale {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  top: -17px;
  left: -38px;
  letter-spacing: 2px;
}

.box-black {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #000;
  margin-right: 10px;
}

.box-blue {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #2f6ee2;
  margin-right: 10px;
}

.box-red {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ec2f2f;
  margin-right: 10px;
}

.box-yellow {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f0bf1e;
  margin-right: 10px;
}
.box-green {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #90cc20;
  margin-right: 10px;
}

.box-brown {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #885214;
  margin-right: 10px;
}

.colors {
  margin-top: 30px;
}

.ad-img {
  float: left;
  clear: both;
  margin-right: 30px;
}

.price-container {
  float: right;
  clear: both;
  width: 225px;
  position: relative;
}

.details-container {
  position: absolute;
  left: 600px;
  top: 50px;
  width: 225px;
}
